body {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.0), rgba(255,255,255,0.0), rgba(235,235,235,1.0)), url("img/babies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: black;
}
#all {
  height: 70%;
  margin: 50px;
}
#header {
  /*background: rgba(76, 175, 80, 0.8);*/
  /*background: #04B45FC0;*/
  display: none;
  background: rgba(4, 180, 95, 0.7);
  width: 50%;
  height: 35px;
  border-radius: 20px;
  margin: 30px;
  font-size: x-large;
  color: white;
  padding: 30px 0;
}
#container {
  background: rgba(4, 180, 95, 0.7);
  border-radius: 20px;
  width: 90%;
}
#inner {
  padding: 20px;
  position: relative;
}
#listview {
  padding: 20px;
  position: relative;
  display: none;
}
#editview {
  display: none;
  padding: 20px;
  position: relative;
}
#importview {
  display: none;
  padding: 20px;
  position: relative;
}
.boxes {
  border: 2px dashed #CCC;
  margin: 30px;
  border-radius: 20px;
  position: relative;
  top: 10%;
  max-width: 400px;
  padding: 20px;
  font-size: xx-large;
}
.inbox {
  font-size: large;
  width: 80px;
  height: 1em;
  background: transparent;
  border: white 1px dashed;
  border-radius: 3px;
}
.whitening {
  border: 2px dashed white;
  background: rgba(255,255,255, 0.3);
  font-size: xx-large;
  height: 1em;
}
.difficulty {
  display: inline;
  background: rgba(255,255,255, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  user-select: none;
}
.selected {
  border: 1px dashed red;
}
.icon {
  cursor: pointer;
}
.arrow {
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 35%;
  opacity: 0.6;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.arrow:hover {
  opacity: 1.0;
}
.right {
  right: 30px;
}
.left {
  left: 30px;
}
#next {
  background-image: url("img/next.png");
  right: 0px;
}
#prev {
  background-image: url("img/next.png");
  left: 0px;
  transform: rotate(180deg);
}
.plus {
  background-image: url("img/plus.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}
#minus {
  background-image: url("img/delete.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}
#edit {
  background-image: url("img/edit.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 20px;
}
#index {
  background-image: url("img/information.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 20px;
}
#quickdict {
  background-image: url("img/qd_bw.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 20px;
  margin-left: 40px;
}
.qm {
  background-image: url("img/questionmark.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#list {
  background-image: url("img/longlist.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}
#import {
  background-image: url("img/import.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  border: none;
}
.qmbox {
  background: rgba(255,255,255, 0.3);
  max-width: 500px;
  width: 50%;
  padding: 20px;
  font-size: x-large;
  height: 5em;
}
.textin {
  background: rgba(255,255,255, 0.3);
  border: 2px dashed #CCC;
  border-radius: 10px;
  position: relative;
  top: 10%;
  padding: 5px;
  width: 70px;
}
.little-margin {
  margin: 20px;
}
.invisible {
  display: none;
}
#divindex {
  display: none;
  padding: 10px;
  margin-top: 30px;
  position: relative;
  max-width: 400px;
  line-height: 40px;
}
#divindex .difficulty {
}
.listtable {
  /*background: rgba(4, 180, 95, 0.7);*/
  display: table;
  border: 3px dashed white;
  border-radius: 10px;
  padding: 40px;
}
.list-header {
  display: table-header-group;
  font-weight: bold;
}
.list-row {
  display: table-row;
}
.list-cell {
  display: table-cell;
  padding-right: 5px;
}
.wide-cell {
  min-width: 100px;
}
.submit {
  border: none;
}
.red {
  color: red;
}
.green {
  color: green;
}
